type-complexity-threshold = 500
disallowed-methods = [
    # Mutating environment variables in a multi-threaded context can cause data races.
    # see https://github.com/rust-lang/rust/issues/90308 for details.
    "std::env::set_var",
    "std::env::remove_var",

    # Use tokio::time::sleep instead.
    "std::thread::sleep",

    # 将 unwrap 的使用视为错误(deny)或警告(warn)
    "std::result::Result::unwrap",
    "std::option::Option::unwrap",
]
disallowed-types = [
    # Use tokio::time::Instant instead.
    "std::time::Instant",
]
