name: CI

on:
  push:
    branches:
      - main
      - release-*
    tags:
      - v*
  pull_request:
    branches:
      - main
      - release-*

env:
  CARGO_TERM_COLOR: always
  CARGO_TOKEN: ${{ secrets.CRATES_IO_TOKEN }}

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: cargo fmt
        run: cargo fmt -- --check --color ${{ env.CARGO_TERM_COLOR }}
      - name: cargo clippy
        run: cargo clippy -- -W warnings

  regression-test:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Get latest nacos from docker hub"
      - run: docker --version
      - run: sudo docker pull nacos/nacos-server:latest
      - run: sudo docker run --name nacos-quick -e MODE=standalone -p 8848:8848 -p 9848:9848 -d nacos/nacos-server:v2.5.2
      - run: sudo apt install -y protobuf-compiler libprotobuf-dev
      - name: Check out repository code
        uses: actions/checkout@v3
      - run: cargo --version --verbose
      - run: rustc --version --verbose
      - name: format check
        run: cargo fmt --check
      - name: unit test
        run: cargo test --all-targets
      - run: cargo run --example simple_app

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build
        run: cargo build
      - name: Build examples
        run: cargo build --examples
      - name: Run Tests
        run: cargo test --all-targets

#  publish:
#    name: Publish
#    runs-on: ubuntu-latest
#    needs: [lint, build]
#    if: startswith(github.ref, 'refs/tags/v')
#
#    steps:
#      - uses: actions/checkout@v3
#      - name: cargo publish
#        run: cargo publish --token ${{ env.CARGO_TOKEN }}
